/a3Client/nbproject/private/# Ignore temporary files
*~
._*
*.DS_Store

# Ignore binary files
*.class

# Eclipse --> Exclude only if maven is used
#.classpath
#.project
#.settings/

# Maven
#log/
#target/
/a3Server/nbproject/private/
/a3Server/a3Server-ejb/nbproject/private/
/a3Client/build/
/a3Client/dist/
/a3Server/a3Server-ejb/build/
/a3Server/build/
/a3Server/a3Server-ejb/dist/
/a3Server/dist/
/a3Client/target/
/a3Server/a3Server-ejb/target/
/a3Server/a3Server-ear/target/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/JavaApplication6/dist/
/mavenproject1/target/