/a4Client/nbproject/private/# Ignore temporary files
*~
._*
*.DS_Store

# Ignore binary files
*.class

# Eclipse --> Exclude only if maven is used
#.classpath
#.project
#.settings/

# Maven
#log/
#target/
/a4Server/nbproject/private/
/a4Server/a4Server-ejb/nbproject/private/
/a4Client/build/
/a4Client/dist/
/a4Server/a4Server-ejb/build/
/a4Server/build/
/a4Server/a4Server-ejb/dist/
/a4Server/dist/
/a4Client/target/
/a4Server/a4Server-ejb/target/
/a4Server/a4Server-ear/target/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/JavaApplication6/dist/
/mavenproject1/target/
a4clientdb
derby.log
a4serverdb
a4Client/lib/